.input-group input[type="file"] {
    display: none;
}

.input-group label.input-group-text {
    cursor: pointer;
}



.input-group input[type="file"]:focus + label.input-group-text {
    box-shadow: 0 0 0 .25rem rgba(0, 123, 255, .25);
}

.table thead th{
    background-color: #343a40;
    color: #fff;
}

